/*Social media icons - contact page*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans';
}

.nav-wrapper a {
  color: white !important;
  font-size: 4em;
  text-align: center;
  width: 100%;
}


#page-container {
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*IMG TESTING size*/
img.resize {
max-width:20%;
max-height: 20%;
}


/*NAVIGATOR: Change font color of top tabs*/
.tab a {
  color: teal !important;
}

a {
  display: inline-block;
  width: 25%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

.nav .active {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.tabs {
  width: 100%;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tabs .indicator {
  display: none;
}

.tabs .tab a.active {
  border-bottom: 2px solid black;
}





/*ABOUT ME SECTION*/
img {
  border-radius: 10%;
  max-width: 80%;
  height: auto;
}

.about-me {
  text-align: center;
  width:100%;
}

.col .s12 a {
   display: inline;
}

.git-link {
  color:teal;
}

.ul-icons {
  display:inline-block;
  width:100%;
}

.tooltip {
  display:inline-block;
}

.material-icons {
  font-size:3em;
  color:black;
}


.arrow {
  color: #2F4F4F;
  margin: 2%;
  font-size:large;
}

.icon:hover {

  content: "279E"; 
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.icon:hover {
  color: #0c5449;
  background-color:#fff;

  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(4px);
}


/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.ul-frontend {
  text-align: right;
  font-weight:bold;
  font-size:2em;
  margin-bottom:-1%;
}

.ul-backend {
  text-align: left;
  font-weight:bold;
  font-size:2em;
  margin-bottom:-1%;
}

.symfony {
  text-align:center;
  font-weight:bold;
  font-size:2em;
  margin-top: -5%;
  width:100%;
}


/*DIVIDER mid of page*/
.divider {
  position:relative;
  height:1px;
  margin-bottom: 10%;
  margin-top:10%;
}

.transparent {
  content:"";
	left: 5%;
	right: 5%;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}



/*PROJECTS CARD AREA -- INDEX PAGE*/
.col s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1%;
}

.card {
  transition: .5s;
  background:white;
}

.card:hover i, h5{
  color: teal;
}

.card:hover{
  transform: scale(1.03);
  background:#EBECF0;
}

.card-action {
  white-space: nowrap;
  text-align:center;
}


/*------CONTACT PAGE-----*/
#contact-container {
  position: fixed;
}

#contact-info {
  text-align: center;
  font-size: large;
}

.keep-touch {
  color: teal;
  margin-top: 10%;
  text-align: center;
}

/*SOCIAL MEDIA Demo 1*/
a {
  text-decoration: none;
  color: #fff;
}

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1% 0 1% 0;
}

._12 {
  font-size: 1.2em;
}

._14 {
  font-size: 1.4em;
}

.ul-social {
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

.social-list {
  list-style: none;
  display: inline-block;
}

.footer-social-icons {
  width: 100%;
  margin-top: 10%;
  margin-left: 37%;
}

.social-icon {
  color: #fff;
}

.social-icon .social-list {
  margin-top: 10px;
  display: inline-block;
}

.social-icons .social-list {
  vertical-align: top;
  height: 100px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-twitter {
  padding: 10px 12px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 15%;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-linkedin {
  padding: 10px 14px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 15%;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-github {
  padding: 10px 14px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 15%;
}

.fa-github:hover {
  background-color: #5a32a3;
}




/*-----EXPERIENCE PAGE----*/
body {
  font-family: 'DM Sans', sans-serif;
  color: #333;
}

header h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}

header p {
  text-align: center;
  margin-bottom: 0;
}

.hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: #d5d5d5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(213, 213, 213, 0)), color-stop(8%, #d5d5d5), color-stop(92%, #d5d5d5), to(rgba(213, 213, 213, 0)));
  background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, #d5d5d5 8%, #d5d5d5 92%, rgba(213, 213, 213, 0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background: teal;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid teal;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid teal;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: white;
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: white;
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: teal;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: #fefefe;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media (min-width: 768px) {
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }
  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }
  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }
  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }
  .flag-wrapper {
    display: inline-block;
  }
  .flag {
    font-size: 18px;
  }
  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: #fefefe;
    border-width: 8px;
  }
  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: #fefefe;
    border-width: 8px;
    left: -8px;
  }
  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }
  .direction-l .time-wrapper {
    float: left;
  }
  .direction-r .time-wrapper {
    float: right;
  }
  .time {
    padding: 5px 10px;
  }
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media (min-width: 992px) {
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }
  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

.footer-copyright {
  height: 40px;
  width: 100%;
}

.text-lighten-4 {
  display: table;
  width: 100%;
  text-align: center;
}

.flow-text {
  font-size: small;
}
/*# sourceMappingURL=style.css.map */
